@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body {
    font-family: 'Overpass', serif;
    background-image: url("background.jpg");
    color: black;
    margin-top: 150px;
    cursor: default;
}

h1 {
    width: fit-content;
    color: black;
}

.text {
    background-color: rgba(255, 255, 255, 0.8);
    scale: 1.2;
    width: fit-content;
    padding: 30px;
    margin: auto;
}

.link {
    background-color: gold;
    text-decoration: none;
    color: black;
}

a:hover {
    transition-duration: 0.3s;
    background-color: #000000;
    color: azure;
}

.contact {
    width: fit-content;
}

.telegram {
    cursor: pointer;
}

.email {
    cursor: pointer;
}

.telegram:hover {
    background-color: #168dc8;
}

.email:hover {
    background-color: #860000;
}

.telegram:active {
    background-color: gold;
    color: black;
}

.email:active {
    background-color: gold;
    transition-duration: 0.3s;
    color: black;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 72%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltipemail {
    position: relative;
    display: inline-block;
}

.tooltipemail .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 60%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipemail .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipemail:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}